* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "SUIT variable", sans-serif;
}

body {
  background-color: #fffcf8;
}

input,
textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

.material-symbols-outlined {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
